<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Hibernt Properties -->

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
		<property name="hibernate.validator.autoregister_listeners">false</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.c3p0.min_size">3</property>
		<property name="hibernate.c3p0.max_size">50</property>
		<property name="hibernate.c3p0.timeout">1800</property>
		<property name="hibernate.c3p0.max_statements">50</property>
		<property name="hibernate.c3p0.idle_test_period">28680</property>

		<!--Mapping for entites -->
		<mapping class="com.example.rest.dto.UserDTO" resource="User.hbm.xml" />
	</session-factory>
</hibernate-configuration>
